<!doctype html>
<html>
<head>
	<style>
		table {
		border: 1px solid black;
		}
		
		th,td {
		padding: 10px;
		text-align: left;
		border: 1px solid black;
		}
	</style>
<title>Juicebox Central</title>
</head>
<body>
{{{body}}}
</body>
</html>